
<div>
    <img src="../../../assets/ABOUT.jpg" style="height: 540px; width: 1500PX;">
    <br>
    <br>

    <figure class="text-center">
        <h1>COMPANY</h1>
      </figure>


    <p>Zara is one of the largest international fashion companies. It belongs to Inditex, one of the world’s largest distribution groups.
    
    The customer is at the heart of our unique business model, which includes design, production, distribution and sales through our extensive retail network.
    
    For more information, please visit the Inditex Group website: www.inditex.com</p>
    <br>
    <br>
    <br>
    
    <li>
        <button id="ot-sdk-btn" class="ot-sdk-show-settings">Follow Us</button></li>
          <li>Newsletter</li>
          
          <li>INSTAGRAM</li>
          <li>FACEBOOK </li>
          
               
          
          <li>PINTEREST</li>
          
          
          
          <li>YOUTUBE</li>
        
    
      <li>
        
          <li class="footer-title">Policies</li>
           <li>policy</li>
          <li>Purchase conditions </li>
          
          
          
          
    <li>Gift Card Conditions</li>
          
          
          
          
          
          
          
          
          
          
          
          
            <li><button id="ot-sdk-btn" class="ot-sdk-show-settings">COOKIE SETTINGS</button></li>
          
          
          
          
          
        
      




</div>